#container{
    margin-top: 40px;
    background-color: lightblue;
    height: 20vh;
    width: 100vw;
    text-align: center;
    cursor: default;
}
#content{
    color: black;
    font-size: xx-large;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 30px;

}
#form{
    display: inline-block;
    padding-right: 200px;
}
#button{
    display: inline-block;
}
#number{
    padding: 10px;
    border-radius: 12px 12px 12px 12px;
    font-size: x-large;
}
#button1{
    background-color: lightgreen; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  color: black;
  cursor: pointer;
}
#big{
    background-color: lightgoldenrodyellow;
    width: 100vw;
    height: 20vh;
    position: relative;
    margin-top: 40px;
}
#small_enc{
    position: relative;
}
#small{
    overflow: hidden;
    margin: 100px;
    position: absolute;
    height: 100px;
    width: 100px;
    text-align: center;
    left: 40vw;
    top: -8vh;
}
#small p{
    text-align: center;
    line-height: 80px;
    height: 100%;
    margin: 0px;
    width: 100%;
    background-color: white;
    border-top: 2px solid black;
    font-size: 4rem;
}
.next{
    position: absolute;
    top: 100px;
}
.animate{
    transition: all 0.5s;
    top: 0px;
}
